<md-dialog>
  <form>
    <md-dialog-content style="padding-bottom: 0px;">
      <div ng-cloak>
        <md-content class="splash-card-content">
          <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
            <md-tab label="Budget">
              <md-content class="md-padding">
                <!--<h3 class="md-display-5">What is your Budget? {{selectedOfferIndex}}</h3>-->
                <md-grid-list
                  md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px" >
                  <md-grid-tile ng-repeat="offer in offers" ng-click="selectOffer($index)"
                                md-rowspan="2" md-colspan="2" md-colspan-sm="1"
                                ng-class="{true: 'selected', false: ''}[selected.offer.index === $index]"
                                class="price-tile">
                    <h2>{{ offer.price }}</h2>
                  </md-grid-tile>
                </md-grid-list>
              </md-content>
            </md-tab>
            <md-tab label="Interests">
              <md-content class="md-padding">
                <!--<h3 class="md-display-5">Select Interests</h3>-->
                <md-checkbox ng-repeat="interest in interests"
                             ng-model="selected._interests[$index]"
                             ng-true-value="true"
                             ng-false-value="false"
                             class="interest-checkbox">
                  {{ interest }}
                </md-checkbox>
              </md-content>
            </md-tab>
            <md-tab label="Date & Starting Point">
              <md-content class="md-padding">
                <h3>Trip Date</h3>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>Start</label>
                    <input ng-model="selected.dates.start" type="date">
                  </md-input-container>
                  <md-input-container flex>
                    <label>End</label>
                    <input ng-model="selected.dates.end" type="date">
                  </md-input-container>
                </div>

                <h3>Journey starts from</h3>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <md-autocomplete
                      md-selected-item="selected.airport"
                      md-search-text-change="searchTextChange(searchText)"
                      md-search-text="searchText"
                      md-selected-item-change="selectedItemChange(item)"
                      md-items="item in querySearch(searchText)"
                      md-item-text="getAirportName(item)"
                      md-min-length="0">
                      <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{getAirportName(item)}}</span>
                      </md-item-template>
                  </md-input-container>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
      <div class="md-actions" layout="row" ng-show="showToolbar('default')">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">
          Cancel
        </md-button>
        <md-button ng-click="next()" class="md-primary md-raised">
          Next
        </md-button>
      </div>

      <div class="md-actions" layout="row" ng-show="showToolbar('final')">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">
          Cancel
        </md-button>
        <md-button ng-click="search()" class="md-warn md-raised">
          Search
        </md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>