<html lang="en">
<head>
  <!-- Material Design -->
  <link rel="stylesheet" href="js/lib/angular-material.min.css">
  <link href="css/material-icons.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1"/>
</head>
<body ng-app="App">
<div layout="column">
  <section layout="row" flex ng-controller="workspaceCtrl">

    <md-sidenav md-component-id="left" md-is-open="leftSidenavOpen">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
          <div>Username</div>
          <div>email@domainname.com</div>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item ng-repeat="item in menu" md-ink-ripple ng-click="changeState(item.state)">
          <md-icon md-menu-align-target><i class="material-icons">{{item.icon}}</i></md-icon>
          <p>{{item.title}}</p>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content layout="column" layout-fill>
      <md-toolbar class="md-default-theme md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav()">
          <md-icon md-menu-align-target><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>NextTrip</span>
        </h2>
      </md-toolbar>

      <md-content flex md-scroll-y ui-view>
      </md-content>

    </md-content>
  </section>
</div>

<!-- Angular Material Dependencies -->
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/lib/sprintf.min.js"></script>
<script src="js/lib/angular-sprintf.min.js"></script>

<!-- MATERIAL -->
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-aria.min.js"></script>
<script src="js/lib/angular-material.min.js"></script>
<script src="js/lib/md-data-table.min.js"></script>
<script src="js/lib/md-date-time.js"></script>

<!-- MAPS -->
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<!-- CUSTOM -->
<script src="js/dist/all.js"></script>
</body>
</html>
