<md-button aria-label="Open demo menu"
           class="md-fab md-accent md-icon-button fab-button-pull-right-up"
           ng-click="library($event)">
  <md-icon md-menu-origin>
    <i class="material-icons">add</i>
  </md-icon>
</md-button>

<md-data-table-toolbar>
  <h2 class="md-title">Digest Workflow</h2>
</md-data-table-toolbar>
<md-content>
  <pn-digest ng-if="digest" ng-model="digest"
             index="0"
             mode="workflow"
             layout-padding>
  </pn-digest>

  <ul id="dnd-posts" ui-sortable="{ 'ui-floating': true }" ng-model="posts">
    <li ng-repeat="post in posts">
      <pn-post index="$index"
               trigger="removePost(index, event)"
               ng-model="post">
      </pn-post>
    </li>
  </ul>

</md-content>